<div id="divTotal" style="top: 100px;">
    <div class="container" style="height: 100vh;">
        <div class="row">
            <div class="col-sm-12" style="position: relative; top: 120px;">
                <div class="text-center">
                    <div class="container text-center" style= "margin-top: 20px; width: 850px;" *ngIf="mostrarDescripcion">
                        <h2 style="color: white; font-size: 40px;">{{juegoTitulo}}</h2>
                        <p style="color: white; font-size: 20px;">{{descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  