<div id="divTotal" class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 text-center">
        <div class="caja-juegos row">
          <div *ngFor="let juego of juegos" class="col-6 col-md-3 mb-4">
            <div class="card m-2"
                 (mouseenter)="seleccionarJuego(juego)"
                 (mouseleave)="ocultarDesc()"
                 (click)="navegar(juego)">
              <img [src]="juego.img" class="card-img-top" draggable="false">
              <div class="card-body">
                <h5 class="card-title">{{ juego.titulo }}</h5>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="mostrarDescripcion" class="game-description show">
          <h2>{{ juegoTitulo }}</h2>
          <p>{{ descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>