#divTotal {
  background: linear-gradient(to right, rgb(14, 16, 28), rgb(31, 34, 51));
  min-height: 100vh;
  padding-top: 80px; /* Ajusta este valor según el tamaño de tu navbar */
  position: relative;
}

.caja-juegos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 80px; /* Ajusta este valor para mover las tarjetas hacia abajo */
}

.card {
  width: 250px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(42, 45, 70);
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 10px;
}

.card-title {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.game-description {
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
}

.game-description h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.game-description p {
  font-size: 20px;
}

.background-image {
  position: relative;
  z-index: 0;
}

.background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/fotos-premium/sala-juegos-esta-llena-coloridos-juegos-arcade_662214-35580.jpg?w=740');
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}
