*{
  user-select: none;
}

.opciones{
    margin-left: 20px; 
  }

  .oscurecer:hover {
    background-color: #999;
    color: #fff; 
  }

  .oscurecerLogOut:hover {
    background-color: #c04040;
    color: #fff;
  }

