<div id="divTotal" class="background-image">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-4" style="background-color: rgb(42, 45, 70); padding: 20px; border-radius: 8px;">
                <h1 style="font-weight: bold; color: white;">Registrarse</h1>
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label" style="color: white;">Email</label>
                        <input id="inputLogin" type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="userMail" name="userMail">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label" style="color: white;">Contraseña</label>
                        <input id="inputLogin" type="password" class="form-control" [(ngModel)]="userPass" name="userPass">
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a routerLink="../login" style="color: #007bff; text-decoration: none;">Ya está registrado?</a>
                            <label *ngIf="errorRegister == true" style="color: red; padding-right: 10px;">{{errorText}}</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button (click)="register()" class="btn btn-primary" style="width: 100%;">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
