<div class="d-flex justify-content-center align-items-center min-100vh">
  <div class="container p-5">
    <div class="text-center mt-5">
      <h1>El Ahorcado</h1>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-lg-6 col-12 text-center">
        <img
          src="../../../../assets/ahorcado/horca.{{horca}}.png"
          class="ahorcado-img"
          draggable="false"/>
        <h3 class="intentosContainer" style="color: white;">
          Intentos: <small>{{intentos}} / 6</small>
        </h3>
      </div>
      <div class="col-lg-6 col-12 text-center">
        <h1 class="text-center">
          <span *ngFor="let letra of palabraActualAux" class="letra">{{letra}}</span>
        </h1>
        <div class="p-3 containerBtn">
          <img class="oscurecer letra" *ngFor="let letter of abecedario"
            src="../../../../assets/ahorcado/letras/{{letter}}.png"
            [ngClass]="{'letra-elegida': estaSeleccionada(letter), 'oscurecer' : !estaSeleccionada(letter)}"
            [style.pointerEvents]="deshabilitarLetras ? 'none' : 'auto'"
            (click)="seleccionarLetra(letter)"
            draggable="false">
        </div>
      </div>
    </div>
  </div>
</div>
