#divTotal{
    background-color: rgb(14, 16, 26);
    height: 100vh;
    color: white;
  }
  
  
  .quien-soy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: linear-gradient(to right, rgb(14, 16, 28),rgb(39, 43, 67));
    background: linear-gradient(to right, rgb(14, 16, 28), rgb(31, 34, 51));
  }
  
  .quien-soy-content {
    background-color: rgb(255, 255, 255); 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80vh;
    text-align: center;
  }
  
  .foto {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .foto-perfil {
    width: 150px; /* Ajusta según tus necesidades */
    height: 150px; /* Ajusta según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
  }
  
  h1 {
      color: #d344d5; 
      font-size: 4vh;
    }
    
    h2 {
      color: #9d22c0;
      font-size: 3.5vh;
    }
    
    p {
      color: #333;
      line-height: 1.6;
      font-size: 1.92vh;
    }
  
  
    .background-image {
      position: relative;
      z-index: 0;
  }
  
  .background-image::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('https://img.freepik.com/fotos-premium/sala-juegos-esta-llena-coloridos-juegos-arcade_662214-35580.jpg?w=740');
      background-size: cover;
      background-position: center;
      opacity: 0.3; /* Opacidad de la imagen de fondo */
      z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  }
  
  
  