#contenedorPrincipal {
  background-color: rgb(14, 16, 26);
  min-height: 100vh; /* Mantiene el fondo ocupando toda la altura de la ventana */
  padding: 40px 0; /* Aumenta el padding para más espacio */
  color: white;
  position: relative; /* Para que la imagen de fondo se alinee correctamente */
  overflow: hidden; /* Evita el desbordamiento */
}

.imagen-fondo {
  position: absolute; /* Cambiado a absoluto */
  top: 0; /* Alineado al principio */
  left: 0; /* Alineado al principio */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  z-index: -1; /* Asegura que esté detrás del contenido */
}

.imagen-fondo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/fotos-premium/sala-juegos-esta-llena-coloridos-juegos-arcade_662214-35580.jpg?w=740');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.contenido-quiensoy {
  background-color: rgba(42, 45, 70, 0.8); /* Añadido un poco de transparencia */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80vw; 
  margin: 50px auto; 
  color: white;
  position: relative; /* Asegura que el contenido esté por encima */
}

.seccion-foto {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.foto-perfil-redonda {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.titulo-principal, .titulo-secundario {
  color: white;
  font-weight: bold;
}

.titulo-principal {
  font-size: 3.5vh; 
  margin-bottom: 0.5rem; 
}

.titulo-secundario {
  font-size: 3vh; 
  margin-bottom: 0.5rem; 
}

.texto-parrafo {
  color: white;
  line-height: 1.6;
  font-size: 1.5vh;
  margin: 0 auto;
  max-width: 90%;
  text-align: justify;
}