<div id="contenedorPrincipal" class="imagen-fondo">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="padding-top: 80px;"> <!-- Padding para evitar que quede debajo del navbar -->
            <div class="col-md-6 col-lg-4 text-center contenido-quiensoy">
                <div class="seccion-foto">
                    <img src="../../../assets/foto.jpg" alt="Gustavo Yaggi" class="foto-perfil-redonda">
                </div>
                <h1 class="titulo-principal">Quién Soy</h1>
                <p class="texto-parrafo">
                    ¡Hola! Soy Gustavo Yaggi y tengo 31 años. Trabajo como Líder Técnico en Galileo y cuento con 11 años de experiencia en sistemas. A lo largo de mi carrera, he trabajado como Analista Tester y Analista Funcional. Actualmente, estoy aprendiendo desarrollo web para expandir mis habilidades y enfrentar nuevos desafíos.
                </p>
                <h2 class="titulo-secundario">Sobre mi juego</h2>
                <p class="texto-parrafo">
                  El juego que elegí se llama "Destrucción del Mouse". 
                  En este divertido y emocionante juego, tu objetivo es hacer clic en una área específica tantas veces como puedas dentro de un tiempo limitado. 
                  Cuantos más clics logres antes de que se acabe el tiempo, más cerca estarás de establecer un nuevo récord. 
                  ¡Compite contra ti mismo o contra otros jugadores para ver quién puede lograr la mayor cantidad de clics y convertirse en el ganador absoluto!
                </p>
            </div>
        </div>
    </div>
</div>