<h2 class="dialog-title" mat-dialog-title>{{data.tittle}}</h2>
<mat-dialog-content class="dialog-content">
    <div>
        <p>{{data.content}}</p>
        <div class="dialog-image-container">
            <img src="{{data.img}}" class="dialog-image">
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close (click)="onMenuClick()">Menú</button>
    <button mat-button mat-dialog-close (click)="onRetryClick()">{{data.btn}}</button>
</mat-dialog-actions>