.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../../../assets/Pokemon.jpg");
    background-size: cover; /* Ajusta el tamaño para cubrir todo el contenedor */
    background-position: center center; /* Centra la imagen vertical y horizontalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    z-index: 0;
    opacity: 0.9; /* Ajusta la opacidad para mejorar la visibilidad del contenido */
  }
  
  .card {
    width: 100%;
    max-width: 800px; /* Ajusta según sea necesario */
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Mejora la sombra para un efecto más moderno */
    background: rgba(23, 32, 42, 0.9); /* Fondo oscuro con opacidad */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .quiz-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #333; /* Línea divisoria más sutil */
  }
  
  .quiz-title {
    font-size: 2rem;
    color: #f8f9fa; /* Color blanco suave */
    margin: 0;
  }
  
  .quiz-score {
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #f8f9fa; /* Color blanco suave */
  }
  
  .score {
    background-color: #28a745; /* Verde más suave */
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }
  
  .timer {
    font-size: 1rem;
  }
  
  .quiz-body {
    text-align: center;
    padding: 1rem;
    flex: 1; /* Permite que el contenedor del cuerpo se expanda */
  }
  
  .quiz-question {
    font-size: 1.2rem; /* Tamaño de fuente reducido */
    color: #f8f9fa; /* Color blanco suave */
    margin-bottom: 1rem;
  }
  
  .pokemon-div {
    width: 100%;
    max-height: 300px; /* Ajusta la altura máxima según sea necesario */
    background: linear-gradient(to right, #6c757d, #f8f9fa); /* Gradiente más suave */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .pokemon-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .quiz-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .quiz-options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 3px solid #007bff; /* Color de borde azul */
    background-color: #e9ecef; /* Color de fondo neutro */
    color: #343a40; /* Color de texto oscuro */
    box-shadow: 0 4px 0 0 #007bff; /* Sombra de borde azul */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
    width: 100%; /* Ajusta el ancho para que ocupe el 100% del contenedor */
  }
  
  .quiz-options li:hover {
    background-color: #adb5bd; /* Fondo gris claro */
    color: #212529; /* Color de texto oscuro */
    border-color: #adb5bd; /* Color de borde gris claro */
    box-shadow: 0 4px 0 0 #adb5bd; /* Sombra de borde gris claro */
  }
  
  .quiz-options li:active {
    transform: scale(0.97);
  }
  
  .quiz-foot {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 1rem;
    border-top: 1px solid #333; /* Línea divisoria más sutil */
  }
  
  .quiz-foot button {
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
  }
  
  .quiz-foot button:hover {
    background-color: #0056b3; /* Azul más oscuro para el hover */
    box-shadow: 0 4px 0 0 #003d7a; /* Sombra de borde azul más oscuro */
  }
  
  .quiz-foot button:active {
    transform: scale(0.95);
  }